# Editor configuration, see https://editorconfig.org
root = true
# Victor edit at 2019-04-03 16:41
[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false
